<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dai.dao.RegisterMapper">

    <select id="getUserCount" resultType="int">
        SELECT count(userInfo.id)
        FROM userInfo
    </select>

    <select id="getAllAcounts" resultType="String">
        select account from userInfo
    </select>

    <insert id="insertUserInfo" useGeneratedKeys="true">
        insert into userInfo (account, password,number,registerTime)
        value (#{account}, #{password}, #{number}, #{registerTime})
    </insert>

    <select id="findPassword" parameterType="String" resultType="String">
        select password from userInfo where account = #{account}
    </select>


</mapper>